@media screen and (min-width: 32rem) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header h1 {
        margin-bottom: 0;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}